
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- Page Header Start -->
<div class="page-header about-page-header bg-radius-section parallaxie">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-12">
                <!-- Page Header Box Start -->
                <div class="page-header-box">
                    <h1 class="text-anime-style-2" data-cursor="-opaque">Hakkımızda</h1>
                    <nav class="wow fadeInUp">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/">Anasayfa</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Hakkımızda</li>
                        </ol>
                    </nav>
                </div>
                <!-- Page Header Box End -->
            </div>
        </div>
    </div>
</div>
<!-- Page About Us Section Start -->
<div class="page-about-us bg-radius-section">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-lg-5">
                <!-- Page About Content Start -->
                <div class="page-about-content">
                    <!-- Section Title Start -->
                    <div class="section-title">
                        <h3 class="wow fadeInUp">Hakkımızda</h3>
                        <h2 class="text-anime-style-3" data-cursor="-opaque">Sabuncu Psikoloji</h2>
                        <p class="wow fadeInUp" data-wow-delay="0.25s">Sabuncu Psikoloji, 2021 Aralık ayında Uzman Psikolog Müberra Sabuncu tarafından İstanbul Bakırköy’de kurulmuştur. Merkezimizde çocuk, ergen ve yetişkin bireylere yönelik terapi hizmetleri sunulmakta ve çeşitli testlerle tanı süreçleri desteklenmektedir.</p>
                        <p class="wow fadeInUp" data-wow-delay="0.25s">Ekibimizde uzman psikologlar, psikolojik danışmanlar, çocuk gelişim uzmanları, psikiyatrist ve diyetisyenler yer almakta; bireylerin ruhsal ve fiziksel sağlığına bütüncül yaklaşımla hizmet vermekteyiz.</p>


                    </div>
                    <!-- Section Title End -->
                    <!-- Page About Content Body Start -->
                    <div class="page-about-content-body">
                        <div class="row">
                            <div class="col-lg-7 col-md-6">
                                <!-- Page About Content List Start -->
                                <div class="page-about-content-list">
                                    <div class="page-about-content-item wow fadeInUp" data-wow-delay="0.5s">
                                        <div class="icon-box">
                                            <img src="images/icon-page-about-list-1.svg" alt="">
                                        </div>
                                        <div class="page-about-item-content">
                                            <p>Üst Düzey Uzman Ekip</p>
                                        </div>
                                    </div>

                                    <div class="page-about-content-item wow fadeInUp" data-wow-delay="0.75s">
                                        <div class="icon-box">
                                            <img src="images/icon-page-about-list-2.svg" alt="">
                                        </div>
                                        <div class="page-about-item-content">
                                            <p>Deneyimli Kadro</p>
                                        </div>
                                    </div>
                                </div>
                                <!-- Page About Content List End -->
                            </div>

                            <div class="col-lg-5 col-md-6">
                                <!-- Page About Content Box Start -->
                                <div class="page-about-content-box wow fadeInUp" data-wow-delay="0.5s">
                                    <div class="page-about-box-title">
                                        <h3>Sabuncu Psikoloji</h3>
                                    </div>
                                    <div class="page-about-box-list">
                                        <ul>
                                            <li>Uzman</li>
                                            <li>Etkili</li>
                                            <li>7/24 Destek</li>
                                            <li>Güleryüz</li>
                                        </ul>
                                    </div>
                                </div>
                                <!-- Page About Content Box End -->
                            </div>

                            <div class="col-lg-12">
                                <div class="page-about-body-content wow fadeInUp" data-wow-delay="1s">
                                    <p class="wow fadeInUp" data-wow-delay="0.25s">Haftanın 6 günü, 10:00-19:00 saatleri arasında danışan kabul eden merkezimize, telefon veya e-posta yoluyla ulaşarak randevu oluşturabilirsiniz. Sabuncu Psikoloji olarak, danışanlarımızın içsel dengeyi bulmaları ve yaşam kalitelerini artırmaları için güvenilir ve profesyonel bir destek sunmayı amaçlıyoruz.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Page About Content Body End -->
                    <!-- Page About Content Btn Start -->
                    <div class="page-about-content-btn wow fadeInUp" data-wow-delay="1.25s">
                        <a href="/iletisim" class="btn-default"><span>İletişim</span></a>
                    </div>
                    <!-- Page About Content Btn End -->
                </div>
                <!-- Page About Content End -->
            </div>

            <div class="col-lg-7">
                <!-- Page About Images Start -->
                <div class="page-about-image">
                    <!-- Page About Image Start -->
                    <div class="page-about-img-1">
                        <figure>
                            <img src="images/page-about-bg-image.jpg" alt="">
                        </figure>
                    </div>
                    <!-- Page About Image End -->
                    <!-- Page About Image Start -->
                    <div class="page-about-img-2">
                        <figure>
                            <img src="images/page-about-image.png" alt="">
                        </figure>
                    </div>
                    <!-- Page About Image End -->
                </div>
                <!-- Page About Image End -->
            </div>
        </div>

        <!-- Page Testimonial Box Start -->
        <div class="about-testimonial-box">
            <div class="row">
                <div class="col-lg-12">
                    <!-- About Testimonial Slider Start -->
                    <div class="about-testimonial-slider">
                        <div class="swiper">
                            <div class="swiper-wrapper">
                                <!-- About Testimonial Slide Start -->
                                <div class="swiper-slide">
                                    <div class="about-testimonial-item">
                                        <p>Uzman Psikolojik Destekle Hayata Hızla Uyum Sağlayın</p>
                                    </div>
                                </div>
                                <!-- About Testimonial Slide End -->
                                <!-- About Testimonial Slide Start -->
                                <div class="swiper-slide">
                                    <div class="about-testimonial-item">
                                        <p>İyileşme Yolculuğunuzda Uzman Destek Yanınızda</p>
                                    </div>
                                </div>
                                <!-- About Testimonial Slide End -->
                            </div>
                            <div class="about-testimonial-btn">
                                <div class="about-testimonial-button-prev"></div>
                                <div class="about-testimonial-button-next"></div>
                            </div>
                        </div>
                    </div>
                    <!-- About Testimonial Slider End -->
                </div>
            </div>
        </div>
        <!-- Page Testimonial Box End -->
    </div>
</div>
<!-- Page About Us Section End -->
<!-- About Icon Box List Start -->
<div class="about-icon-box-list bg-radius-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-2 col-md-4 col-6">
            </div>
        </div>
    </div>
</div>
<!-- About Icon Box List End -->
<!-- Process Steps Section Start -->
<div class="process-steps bg-radius-section">
    <div class="container">
        <div class="row section-row">
            <div class="col-lg-12">
                <!-- Section Title Start -->
                <div class="section-title">
                    <h3 class="wow fadeInUp">İşlemler</h3>
                    <h2 class="text-anime-style-3" data-cursor="-opaque">Hizmetlerimize Kolayca Ulaşın</h2>
                    <p class="wow fadeInUp" data-wow-delay="0.25s">Sabuncu Psikoloji’den randevu almak çok kolay! İhtiyacınız olan desteğe ulaşmak için telefonla ya da e-posta aracılığıyla bizimle iletişime geçebilir, müsait gün ve saatlerden size uygun olanı seçebilirsiniz.</p>
                </div>
                <!-- Section Title End -->
            </div>
        </div>

        <div class="row process-steps-line align-items-start">
            <div class="col-lg-3 col-md-3">
                <!-- Process Steps Box Start -->
                <div class="process-step-box wow fadeInUp">
                    <!-- Process Steps Number Start -->
                    <div class="process-step-no">
                        <h2>01</h2>
                    </div>
                    <!-- Process Steps Number End -->
                    <!-- Process Steps Content Start -->
                    <div class="process-step-content">
                        <h3>İhtiyaç Analizi ve Bilgilendirme</h3>
                        <p>Telefon veya e-posta yoluyla bize ulaştığınızda, uzmanlarımız size uygun terapi yöntemini belirlemek için ön görüşme yapar. Bu süreçte ihtiyaçlarınızı anlamaya yönelik sorular sorulur ve gerekli bilgilendirmeler sağlanır.</p>
                    </div>
                    <!-- Process Steps Content End -->
                </div>
                <!-- Process Steps Box End -->
            </div>

            <div class="col-lg-3 col-md-3">
                <!-- Process Steps Box Start -->
                <div class="process-step-box wow fadeInUp" data-wow-delay="0.25s">
                    <!-- Process Steps Number Start -->
                    <div class="process-step-no">
                        <h2>02</h2>
                    </div>
                    <!-- Process Steps Number End -->
                    <!-- Process Steps Content Start -->
                    <div class="process-step-content">
                        <h3>Randevu Planlaması</h3>
                        <p>Size uygun gün ve saat için randevu oluşturulur. Hizmetlerimiz hafta içi ve cumartesi günleri 10.00-19.00 arasında sunulmaktadır. Esnek saat seçenekleriyle programınıza en uygun zaman dilimi belirlenir.</p>
                    </div>
                    <!-- Process Steps Content End -->
                </div>
                <!-- Process Steps Box End -->
            </div>

            <div class="col-lg-3 col-md-3">
                <!-- Process Steps Box Start -->
                <div class="process-step-box wow fadeInUp" data-wow-delay="0.5s">
                    <!-- Process Steps Number Start -->
                    <div class="process-step-no">
                        <h2>03</h2>
                    </div>
                    <!-- Process Steps Number End -->
                    <!-- Process Steps Content Start -->
                    <div class="process-step-content">
                        <h3>Terapiler ve Testler</h3>
                        <p>Bireysel terapi, çift terapisi, çocuk terapisi ve çeşitli psikolojik testler uzmanlarımız tarafından uygulanır. Her adımda danışanlarımıza özel ve gizlilik esasına dayalı bir yaklaşım benimsenir.</p>
                    </div>
                    <!-- Process Steps Content End -->
                </div>
                <!-- Process Steps Box End -->
            </div>

            <div class="col-lg-3 col-md-3">
                <!-- Process Steps Box Start -->
                <div class="process-step-box wow fadeInUp" data-wow-delay="0.75s">
                    <!-- Process Steps Number Start -->
                    <div class="process-step-no">
                        <h2>04</h2>
                    </div>
                    <!-- Process Steps Number End -->
                    <!-- Process Steps Content Start -->
                    <div class="process-step-content">
                        <h3>Sürekli Destek ve Değerlendirme</h3>
                        <p>Terapi süreci boyunca ilerlemeniz düzenli olarak değerlendirilir. Gerekli durumlarda terapiniz güncellenir veya ek hizmetlerle desteklenir. Sorularınız ve ihtiyaçlarınız için her zaman bize ulaşabilirsiniz.</p>
                    </div>
                    <!-- Process Steps Content End -->
                </div>
                <!-- Process Steps Box End -->
            </div>
        </div>
    </div>
</div>
<!-- Process Steps Section End -->
<!-- How It Work Section Start -->
<div class="how-it-work bg-radius-section">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 order-lg-1 order-2">
                <!-- How Work Images Start -->
                <div class="how-work-images">
                    <div class="row no-gutters">
                        <div class="col-4">
                            <!-- How Work Image Box Start -->
                            <div class="how-work-image-box-1">
                                <div class="how-work-img-1">
                                    <figure class="image-anime reveal">
                                        <img src="images/how-work-img-1.jpg" alt="">
                                    </figure>
                                </div>
                                <div class="how-work-img-3">
                                    <figure class="image-anime reveal">
                                        <img src="images/how-work-img-3.jpg" alt="">
                                    </figure>
                                </div>
                            </div>
                            <!-- How Work Image Box End -->
                        </div>

                        <div class="col-8">
                            <!-- How Work Image Box Start -->
                            <div class="how-work-image-box-2">
                                <div class="how-work-img-2">
                                    <figure class="image-anime reveal">
                                        <img src="images/how-work-img-2.jpg" alt="">
                                    </figure>
                                </div>
                                <div class="how-work-img-4">
                                    <figure class="image-anime reveal">
                                        <img src="images/how-work-img-4.jpg" alt="">
                                    </figure>
                                </div>
                            </div>
                            <!-- How Work Image Box End -->
                        </div>
                    </div>
                </div>
                <!-- How Work Images End -->
            </div>

            <div class="col-lg-6 order-lg-2 order-1">
                <!-- How Work Content Start -->
                <div class="how-work-content">
                    <!-- Section Title Start -->
                    <div class="section-title">
                        <h3 class="wow fadeInUp">Nasıl Çalışıyoruz</h3>
                        <h2 class="text-anime-style-3" data-cursor="-opaque">Merak Edilen ve Sıkça Sorulan Sorular</h2>
                    </div>
                    <!-- Section Title End -->
                    <!-- How Work Accordion Start -->
                    <div class="how-work-accordion" id="accordion">
                        <!-- FAQ Item Start -->
                        <div class="accordion-item wow fadeInUp">
                            <h2 class="accordion-header" id="heading1">
                                <span class="icon-box">
                                    <img src="images/icon-how-it-work-1.svg" alt="">
                                </span>
                                <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapse1" aria-expanded="true" aria-controls="collapse1">
                                    Psikoterapi seansları nasıl işliyor?
                                </button>
                            </h2>
                            <div id="collapse1" class="accordion-collapse collapse show" aria-labelledby="heading1"
                                 data-bs-parent="#accordion">
                                <div class="accordion-body">
                                    <p>Psikoterapi seansları, bireylerin kendilerini rahat hissedebileceği bir ortamda başlar. Terapist, kişinin ihtiyaçlarına göre uygun terapi yöntemini belirler ve seans boyunca duygu ve düşüncelerin keşfine odaklanılır. Her seans, bireyin ilerlemesine göre şekillenir ve gizlilik esastır.</p>
                                </div>
                            </div>
                        </div>
                        <!-- FAQ Item End -->
                        <!-- FAQ Item Start -->
                        <div class="accordion-item wow fadeInUp" data-wow-delay="0.25s">
                            <h2 class="accordion-header" id="heading2">
                                <span class="icon-box">
                                    <img src="images/icon-how-it-work-2.svg" alt="">
                                </span>
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapse2" aria-expanded="false" aria-controls="collapse2">
                                    Çocuklar için terapi neden önemlidir?
                                </button>
                            </h2>
                            <div id="collapse2" class="accordion-collapse collapse" aria-labelledby="heading2"
                                 data-bs-parent="#accordion">
                                <div class="accordion-body">
                                    <p>Çocuklar, duygusal ve psikolojik zorluklarını ifade etmekte zorlanabilirler. Terapi, çocukların hislerini oyun ve sanat aracılığıyla ifade etmelerine yardımcı olarak, özgüvenlerini artırır ve sağlıklı başa çıkma mekanizmaları geliştirmelerine olanak tanır. Böylece çocuklar, olumsuz deneyimlerini anlamlandırarak daha sağlıklı bireyler haline gelirler.</p>
                                </div>
                            </div>
                        </div>
                        <!-- FAQ Item End -->
                        <!-- FAQ Item Start -->
                        <div class="accordion-item wow fadeInUp" data-wow-delay="0.5s">
                            <h2 class="accordion-header" id="heading3">
                                <span class="icon-box">
                                    <img src="images/icon-how-it-work-2.svg" alt="">
                                </span>
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapse3" aria-expanded="false" aria-controls="collapse3">
                                    Terapiye başlamak için ne zaman bir uzmana danışmalıyım?
                                </button>
                            </h2>
                            <div id="collapse3" class="accordion-collapse collapse" aria-labelledby="heading3"
                                 data-bs-parent="#accordion">
                                <div class="accordion-body">
                                    <p>Eğer günlük hayatınızı olumsuz etkileyen sürekli kaygı, depresyon, ilişki sorunları veya stres gibi durumlar yaşıyorsanız, bir uzmandan yardım almak faydalı olabilir. Ayrıca, travmatik deneyim sonrası duygusal zorluklar yaşıyorsanız, profesyonel destek almak önemlidir.</p>
                                </div>
                            </div>
                        </div>
                        <!-- FAQ Item End -->
                        <!-- FAQ Item Start -->
                        <div class="accordion-item wow fadeInUp" data-wow-delay="0.75s">
                            <h2 class="accordion-header" id="heading4">
                                <span class="icon-box">
                                    <img src="images/icon-how-it-work-4.svg" alt="">
                                </span>
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapse4" aria-expanded="false" aria-controls="collapse4">
                                    Sabuncu Psikoloji'de hangi terapiler sunuluyor?
                                </button>
                            </h2>
                            <div id="collapse4" class="accordion-collapse collapse" aria-labelledby="heading4"
                                 data-bs-parent="#accordion">
                                <div class="accordion-body">
                                    <p>Sabuncu Psikoloji, bireylerin ihtiyaçlarına göre çeşitli terapi yöntemleri sunar. Bunlar arasında Bilişsel Davranışçı Terapi, Oyun Terapisi, Şema Terapi, Dinamik Yönelimli Terapiler, EMDR Terapisi ve Mindfulness gibi teknikler yer alır. Her terapi yöntemi, bireyin yaşadığı sorunlara uygun olarak seçilir ve kişiye özel bir tedavi planı oluşturulur.</p>
                                </div>
                            </div>
                        </div>
                        <!-- FAQ Item End -->
                    </div>
                    <!-- FAQ Accordion End -->
                </div>
                <!-- How Work Content End -->
            </div>
        </div>
    </div>
</div>
<!-- How It Work Section End -->

